{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}Index{% endblock %}
{% block body_block %}
            {% if categories %}
                <ul>
                    {% for category in categories %}
                    <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a> </li>
                    <a href="{% url 'add_page' category.slug %}">Add a Page</a>
                    {% endfor %}
                    <a href="{% url 'add_category' %}">Add a New Category</a><br />
                    {% for page in pages %}
                    <li><a href="{% url 'page' page.slug %}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present</strong>
            {% endif %}
                <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
{% endblock %}