{% extends 'rango/base2.html' %}
{% block title %}Register with Rango{% endblock %}
{% block body_block %}
    <body>
        <h1>Register with Rango</h1>
        {% if registered %}
        Rango says:<strong>thank you for registering!</strong>
        {% else %}
        Rango says:<strong>register here!</strong><br/>

        <form id="user_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
{% endblock %}
</html>